<div class="sysbox" ng-controller='backCtrl'>
	<div class="leftbar">
		<div class="lefthead">
			<h3>西比尔后台管理系统</h3>
		</div>
		<nav class="navlist">
			<ul>
				<li ng-repeat='x in nav'>
					<div class="listbox" ng-click='myhide =!myhide;'>								
						<i class="iconfont">&#xe63b;</i>
						<span>{{x.menu.name}}</span>
						<div class="jiantou">
							<i class="iconfont" ng-show='myhide'>&#xe600;</i>
							<i class="iconfont" ng-hide='myhide'>&#xe60a;</i>
						</div>
					</div>
					<ul ng-hide='myhide' class="listlist">
						<li ng-repeat='y in x.submenu' ui-sref='{{y.sref}}' ui-sref-active="select">{{y.name}}</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="rightbox">
		<div class="righthead">
			<div class="headbox">				
				<dy-compile html="{{iflogin}}"></dy-compile>
			</div>			
			<div style="clear: both;"></div>
		</div>
		<div class="mycontent" ui-view>
			<h1>Welcome!</h1>
		</div>
	</div>
</div>

